altair
attrs
blinker
boto3
botocore
cachetools
certifi
charset-normalizer
click
colorama
gitdb
GitPython
idna
importlib-metadata
Jinja2
jmespath
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
numpy
packaging
pandas
pillow
plotly
protobuf==3.20.*
pyarrow
pydeck
Pygments
python-dateutil
pytz
referencing
requests
rich
rpds-py
s3transfer
six
smmap
streamlit
tenacity
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
zipp
